<!DOCTYPE HTML>
<html>
<head>
</head>
<body>
    <table align="center" style="border-collapse: collapse" border="1" cellpadding="2" cellspacing="2">
        <thead>
            <tr>
                <th colspan="7">Exception Reports Management</th>
            </tr>
            <tr>
                <th>Exception Code</th>
                <th>Exception Type</th>
                <th>Exception Value</th>
                <th>Exception Module</th>
                <th>Exception Function</th>
                <th>Bugs</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for case in exception %}
            <tr class="{{ case.id }}">
                <td rowspan="2" align="center">{{ case.code }}</td>
                <td>{{ case.type.value }}</td>
                <td>{{ case.value }}</td>
                <td>{{ case.module }}</td>
                <td>{{ case.function }}</td>
                <td align="center">{{ case.rBugNumber }}</td>
                <td rowspan="2" align="center">
                    <form method="POST">
                        {% csrf_token %}
                        <input type="text" name="exception_id" value="{{ case.id }}" style="display: none;">
                        <input type="submit" name="submit" value="Delete">
                    </form>
                </td>
            </tr>
            <tr class="{{ case.id }}">
                <td colspan="5">
                    {% for bug in case.get_bugs %}
                    <a href="{% url 'buglog.views.bug_page' code=bug.code %}" target="_bllank" class="bugpage">{{ bug.code }}</a>
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>